<div class="select-gender">
  <h1>Shop...</h1>
  <div class="select-buttons-div">
    <div class="select-button" id="select-mens">
      <a href="/items/category/<%= 'mens' %>" class="gender">MENS</a>
    </div>
    <div class="select-button" id="select-womens">
      <a href="/items/category/<%= 'womens' %>">WOMENS</a>
    </div>
  </div>
</div>