html, body, ul, li {
  margin: 0;
  padding: 0; }

body {
 /* background: #FCD424;*/
  font: normal 16px/24px 'Helvetica Neue', Helvetica, Arial, freesans, sans-serif; }

button, input, code {
  display: inline-block;
  outline: none;
  font: inherit;
  border: none;
  background: #FDE991;
  padding: 0; }

button {
  color: #C7433E;
  cursor: pointer; }

input {
  width: 50px; }

#viewport {
  width: 440px;
  height: 450px;

  border: 2px solid #f0f0f0;
  margin: 10px auto 0;
  position: relative; }
  #viewport .stack {
    max-width: 400px;
    max-height: 420px;
    background: #f7f5f4;
    position: absolute;
    top: 20px;
    left: 50%;
    margin-left: -200px;
    border-radius: 10px; }
  .img-change {
    margin-top: -10px;
   max-width: 380px;
   max-height: 400px; 
  }
  #viewport li {
    max-width: 400px;
    max-height: 420px;
    overflow: none;
    list-style: none;
    background: #fff;
    border-radius: 5px;
    position: absolute;
    top: 0;
    left: 0;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.2), 1px 1px 1px rgba(0, 0, 0, 0.2);
    line-height: 30px;
    padding-top: 10px;
    text-align: center;
    font-size: 2.5em;

    border: 10px solid #ECECEC;
    box-sizing: border-box;
    cursor: default; }
    #viewport li.clubs, #viewport li.spades {
      color: #373737; }
    #viewport li.diamonds, #viewport li.hearts {
      color: #ED5D52; }
    #viewport li.in-deck:nth-child(3) {
      top: 2px;
      transform: translate(2px, 2px) rotate(0.4deg); }
    #viewport li.in-deck:nth-child(2) {
      top: 4px;
      transform: translate(-4px, -2px) rotate(-1deg); }
  #viewport #control {
    position: absolute;
    bottom: 30px;
    left: 0;
    right: 0;
    text-align: center;
    font-size: 0; }
    #viewport #control button {
      background: #FFFFFF;
      color: #373737;
      font-weight: bold;
      border: none;
      font: normal 18px/24px 'Helvetica Neue', Helvetica, Arial, freesans, sans-serif;
      margin: 0 5px;
      padding: 10px 15px;
      cursor: pointer;
      box-shadow: 0 2px 0 #63211F;
      outline: none;
      position: relative; }
      #viewport #control button:active {
        background: #63211F;
        color: #FFFFFF;
        bottom: -2px;
        box-shadow: none; }

#source {
  width: 500px;
  margin: 20px auto; }
  #source a {
    color: #C7433E; }


/*==== added media ====*/
@media screen and (max-width: 320px){
  #viewport {
    width: 310px;
    height: 330px;
    margin-left: -10px;
  }
  #viewport .stack{
    width: 260px;
    height: 260px;
    margin-left: -140px;
  }
  #viewport li {
    width: 280px;
    height: 280px;
  }
  .img-change{
   width: 260px;
   height: 260px;  
  }
}

@media screen and (min-width: 321px) and (max-width: 375px){
  #viewport {
    width: 360px;
    height: 380px;

  }
  #viewport .stack{
    width: 320px;
    height: 320px;
    margin-left: -165px;
  }
  #viewport li {
    width: 320px;
    height: 320px;
  }
  .img-change{
   width: 300px;
   height: 300px; 
   margin-left: -5px; 
  }
}



